[submodule "pg_ws/src/h264_image_transport"]
	path = pg_ws/src/h264_image_transport
	url = https://github.com/afrixs/h264_image_transport.git
	branch = fixes
[submodule "pg_ws/src/bagtube"]
	path = pg_ws/src/bagtube
	url = https://github.com/afrixs/bagtube.git
[submodule "pg_ws/deps/libcamera"]
	path = pg_ws/deps/libcamera
	url = https://github.com/raspberrypi/libcamera.git
